



   <!-- Books Section -->
   <div>
    {{#each data.booksData}}
      <div class="section" style="text-align: center; width: 25%;" onclick="navigateToHighlights({{id}})">
          <div>
            <h2 style="margin:0">{{title}}</h2>
            <p style="margin:0">{{author}}</p>
          </div>
          <div>
            <img height="300" src="{{cover_image_url}}" alt="{{title}}">
          </div>
      </div>
  {{/each}}
</div>
