
 {{!-- <div class="section">
    <h2>{{data.bookData.title}}</h2>
    <p>{{data.bookData.author}}</p>
    <img src="{{data.bookData.cover_image_url}}" alt="{{data.bookData.title}}">
  </div> --}}

  <div class="section" style="text-align: center">
    <div>
      <h2 style="margin:0">{{data.bookData.title}}</h2>
      <p style="margin:0">{{data.bookData.author}}</p>
    </div>
    <div>
      <img height="300" src="{{data.bookData.cover_image_url}}" alt="{{data.bookData.title}}">
    </div>
  </div>

   <!-- Highlights Section -->
  <div class="section">
    <h2>Highlights</h2>
    <div class="scrollable">
      <ul>
        {{#each data.highlights}}
          <li>{{text}}</li>
        {{/each}}
      </ul>
    </div>
  </div>

    <!-- Highlights Summary Section -->
  <div class="section">
    <h2>Highlights Summary</h2>
    <p>{{data.quotesSummary}}</p>
  </div>

  <!-- Highlights Insights Section -->
  <div class="section">
    <h2>Highlights Insights</h2>
    <p>{{data.quotesInsights}}</p>
  </div>

<!-- Book Recommendations Section -->
  <div class="section">
    <h2>Book Recommendations</h2>
    <ul>
      {{#each data.bookRecommendations}}
        <li>
          <strong>{{title}}</strong> by {{author}}: {{reason}}
        </li>
      {{/each}}
    </ul>
  </div>

  <!-- YouTube Links Section -->
  <div class="section">
    <h2>Related YouTube Videos</h2>
    <div class="youtube-links">
      {{#each data.youTubeData}}
        <a href="{{url}}" target="_blank">{{title}}</a>
      {{/each}}
    </div>
  </div>